<% include header.ejs %>
<div class="form">
     <form >
             First name:<br>
             <input type="text" name="firstname">
             <br>
             Last name:<br>
             <input type="text" name="lastname">
             <br>
             EmailId:<br>
             <input type="text" emailid="your email id">
             <br>
             PhoneNumber:<br>
             <input type="number" number="your cell number">
             <br>
             Purpose of Contact:<br>
             <input type="text" message="Tell us why you want to contact us?">
             <br>
             <input type="submit" value="Submit">
     </form>
</div>
<% include footer.ejs %>